
@font-face {
  font-display: swap; 
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v17-cyrillic_latin-regular.woff2") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v17-cyrillic_latin-700.woff2") format("woff2"); /
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); 
}

:root {
  --color-main: #2b7fff;
  --color-black: #011c44;
}

.button {
  background-color: var(--color-main);
  border-radius: 32px;
  border: 2px solid #2b7fff;
  color: #fff;
  cursor: pointer;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-black);
}

.nav-link {
  color: var(--color-black);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-main);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* base*/

body {
  color: var(--color-black);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

.main-title {
  color: var(--color-main);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}
.section-title {
  color: var(--color-black);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}
.accent {
  color: var(--color-main);
}

.section-one {
font-size: 18px;
  font-weight: 400;
}

.section-one-item {
  
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.section-two-accent {
  font-weight: 600;
  text-transform: capitalize;
}

.section-three {

color: #000;
font-size: 18px;
font-weight: 400;
line-height: 1.3
}

.section-four {

font-size: 22px;
font-weight: 400;
line-height: 1.2;
}


.section-contacts {
  font-weight: 600;
}

/*Footer*/


.footer-link {
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.footer-link-copyright {
 font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

